<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartFlow AI</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <header>
        <h1>SmartFlow AI</h1>
        <p>AI-Based Junction Optimization System</p>
    </header>

    <main class="dashboard">

        <section class="card">
            <h2>Lane Traffic Density</h2>

            <p>North Lane: <span id="north-count">0</span></p>
            <p>East Lane: <span id="east-count">0</span></p>
            <p>South Lane: <span id="south-count">0</span></p>
            <p>West Lane: <span id="west-count">0</span></p>
        </section>

        <section class="card">
            <h2>Total Vehicles</h2>
            <p id="vehicle-count">124</p>
        </section>

        <section class="card">
            <h2>Congestion Level</h2>
            <p id="congestion-level" class="medium">Medium</p>
        </section>

        <section class="card">
            <h2>Emergency Status</h2>
            <p id="emergency-status">No Emergency</p>
        </section>

        <section class="card">
            <h2>Active Signal</h2>
            <p id="active-signal">North Lane</p>
        </section>

        <section class="junction card">
            <h2>Traffic Junction</h2>

            <div class="signals">
                <div class="signal red"></div>
                <div class="signal yellow"></div>
                <div class="signal green active"></div>
            </div>

            <button id="emergency-btn">
                Trigger Ambulance Priority
            </button>
        </section>

        <section class="card">
            <h2>AI Recommendation</h2>
            <p id="ai-message">
                Increase green signal duration for North Lane.
            </p>
        </section>

        <section class="card">
            <h2>Traffic Prediction</h2>
            <p id="prediction">
                Congestion expected to increase in 10 minutes.
            </p>
        </section>

        <section class="card">
            <h2>Traffic Analytics</h2>
            <canvas id="trafficChart"></canvas>
        </section>

    </main>

    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>